.userForm {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
  width: 450px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.labelForm {
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

.inputForm {
  font-size: 16px;
  padding: 10px;
}

.btnForm {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 1px;
  font-size: 24px;
}
.errMessage {
  color: orangered;
  font-size: 16px;
}
